* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{}

.container-filme{
  display: flex; /* <-- Display flex (Joga os itens um do lado do outro na HORIZONTAL (Por Padrão)  */
  align-items: center; /* <-- Alinha os itenss no centro VERTICAL */
  justify-content: center; /* <-- Alinha os itens no centro HORIZONTAL */
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  padding: 0 100px;
  background-color: rgb(109, 109, 109);
}

.card-filme {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 10px;
  margin: 10px;
  background-color: rgb(122, 56, 108);
}

.img-filme {
  width: 86%;
}

.titulo-filme {
  font-size: 30px;
  margin: 5px;
  color: bisque ;
}


